/* Your CSS Code here. */
table, th, td{
	border: 1px solid black;
	padding: 10px;
}
th, td{
	width: 80px;
}
.r1{
	background-color: #D54462;
}
.r2{
	background-color: #D3788A;
}
.r3{
	background-color: #ECD5D9;
}
.r4{
	background-color: #E8E8E8;
}
